*.md
.exercism

#elixir
elixir/*/*
!elixir/*/lib

#fsharp
fsharp/*/*
!fsharp/*/*.fs
fsharp/*/*Tests.fs

#go
go/*/*
!go/*/*.go
go/*/*_test.go

#haskell
haskell/*/*
!haskell/*/src

#ocaml
ocaml/*/*
!ocaml/*/*.ml
ocaml/*/test.ml

#python
python/*/*
!python/*/*.py
python/*/*_test.py

#rust
rust/*/*
!rust/*/src

#scala
scala/*/*
!scala/*/src
