c/**/tests.out
c/**/memcheck.out
c/**/.exercism/
c/**/HELP.md
c/**/README.md
c/**/makefile
c/**/test_*.c
c/**/test-framework/

jq/**/README.md
jq/**/HELP.md
jq/**/HINTS.md
jq/**/bats-extra.bash
jq/**/bats-jq.bash
jq/**/test-*.bats
jq/**/.exercism/
jq/**/*.json

ocaml/**/README.md
ocaml/**/HELP.md
ocaml/**/Makefile
ocaml/**/dune
ocaml/**/dune-project
ocaml/**/test.ml
ocaml/**/.exercism/
ocaml/**/_build/
